body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px; /* Consistent font size across the application */
}

.container {
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 20px; /* Added margin for spacing between tabs and content */
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  font-size: 17px;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
  width: calc(100% - 22px); /* Adjusted width to fit container padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: calc(100% - 44px); /* Adjusted width to fit container padding */
}

.btn {
  display: block;
  width: calc(100% - 20px); /* Adjusted width to fit container padding */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

textarea {
  font-family: Arial, sans-serif;
  width: calc(100% - 22px); /* Adjusted width to fit container padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px; /* Consistent font size across the application */
}
