fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
mne
h5io
pymatreader
ipykernel
mne-bids
mne-features
mne-connectivity
mne-icalabel
pyqtgraph
numba
pandas
threadpoolctl
fooof
fuzzywuzzy
python-Levenshtein
meegkit
bycycle
pyyaml
humanize
